
<div class="wrapper">
    <div class="one">
        <nav class="menu">
            <ol>
              <li class="item"><a href="index">Home</a></li>
              <li class="item"><a href="boarding">Boarding</a></li>
              <li class="item"><a href="grooming">Grooming</a></li>
              <li class="item"><a href="training">Training</a></li>
              <li class="item"><a href="registration">Registration</a></li>
              <li class="item"><a href="login">Log In</a></li>
              <li class="item"><a href="#">Book Now!</a></li>
              <li class="item"><a href="#">My Profile</a></li>
            </ol>
          </nav>
    </div>
