<!--// Name: Kayla McDanel
// Date: 07/02/22
// Assignment: 6.2 Pets-R-Us Part 3
// Description: Website using Node, Express, EJS, MongoDB, and Mongoose.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>
<%- include('./partials/header.ejs')%>
    


    <div class="two">
        <h1>Slumber Party!</h1><br>
        <h2>Going away and can't take Fido? Let Pets-R-Us take care of them!</h2><br><br>
        <p>Pets-R-Us has experienced staff members who LOVE what they do. They will care for your dog as well as you do while
            you are off taking care of business (or vacation!). At Pets-R-Us, your best friend will make new friends on their own vacation
            in our state of the art facility. We have individual kennels with turf and beds with blankets to feel more like home. Group and semi group
            play time, depending on your dog's needs. When it comes to play time, we have pools, yards, toys, trampolines and people! Our team is trained
            to monitor the group to ensure play time is fun for everyone, and how to handle various situations that may arise. Know your dog is in
            the hands of professionals while you're away!            
        </p>
    </div>

    <div class="three">
        <img src="../public/images/joe-caione.jpg" alt="A dog running" width="700"><br>
    Photo by <a href="https://unsplash.com/@joeyc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joe Caione</a> 
    on <a href="https://unsplash.com/s/photos/dog-park?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>

    <div class="four">
        <h2>One Dog - Five Nights</h2>
        <p>$1000</p>
        <h2>Two Dogs - Five Nights</h2>
        <p>$1800</p>
        <h2>Three Dogs - Five Nights</h2>
        <p>$2700</p>
        <h2>One Dog - Over Five Nights</h2>
        <p>$120 per additional night</p>
    </div>
    
    
</body>
<%- include('./partials/footer.ejs')%>
</html>