<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>
<%- include('./partials/header.ejs')%>

    

<div class="seven">
    <img src="../public/images/darren-richardson.jpg" alt="A dog in a bucket of suds." width="800"><br>
    Photo by <a href="https://unsplash.com/@campfire_guy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Darren Richardson</a> 
    on <a href="https://unsplash.com/s/photos/dog-bath?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
        
</div>

    
<div class="eight">
    <h1>Welcome to Our Pet Spa!</h1><br>
    <p>Our talented and trained professionals love what they do, and they can't wait to meet you! 
        <br><br>Each of our stylists offer a personalized consultation for you and your pet to assure the right style for your pet.
        We offer a full range of services that cover bathing, grooming, and special upgrades to pamper your pet. Walk-in services are also 
        available for dog nail trimming, teeth brushing, ear cleaning, and more.
        <br><br>
        Your dog or cat's certified stylist is another resource that keeps them healthy. Stylists begin every service by checking them from 
        nose to tail with the 7-point pet care check. This helps spot warning signs of any potential health concerns. In some cases, stylists 
        have aided in the early detection of cancer by noticing both gradual and rapid changes in a pet's health.
        <br><br>
        The cost for dog grooming varies by dog depending on their size, coat type and services included. A consultation in-person or on the 
        phone is included at the beginning of an appointment to discuss the details of the grooming services to be completed and cost. Nail trimming 
        is provided by our cat and dog groomers as an a la carte service or in our grooming packages.
    </p>
    </div>

<div class="nine">
    <table>
        <tr>
        <th>Nail Trim</th>
        <th>Bath</th>
        <th>Basic Clip</th>
        <th>Body Clip</th>
        </tr>

        <tr>
            <td>$15</td>
            <td>$35</td>
            <td>$45</td>
            <td>$65</td>
        </tr>
    </table>
</div></br>


</body>
<%- include('./partials/footer.ejs')%></html>
