<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../public/styles/site.css">

</head>

<body>
<div class="wrapper">
    <div class="one">
        <nav class="menu">
            <ol>
              <li class="item"><a href="./index.html">Home</a></li>
              <li class="item"><a href="#">Boarding</a></li>
              <li class="item"><a href="./grooming.html">Grooming</a></li>
              <li class="item"><a href="#">Training</a></li>
              <li class="item"><a href="#">Registration</a></li>
              <li class="item"><a href="#">Log In</a></li>
              <li class="item"><a href="#">Book Now!</a></li>
              <li class="item"><a href="#">My Profile</a></li>
            </ol>
          </nav>
    </div>

    <div class="two">
        <img src="../public/images/the-lucky-neko.jpg" alt="A basket of kittens" width="700"><br>
        Photo by <a href="https://unsplash.com/@theluckyneko?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">The Lucky Neko</a> 
        on <a href="https://unsplash.com/s/photos/dog-and-cat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        
    </div>

    
    <div class="three">
        <h1>Welcome to Pets-R-Us!</h1><br>
        <p>
        Pets-R-Us is a local store that offers a variety of pets for adoption. We work with local rescues to give pets a second chance
        to find a loving family of their own. Our mission is to make sure every pet has a safe home with educated pet owners. This is why we have
        expanded into grooming, training, and boarding. We are here to help pet owners who want the very best care for their pet. 
        <br><br><b>You are there for your pet. We are here for you.</b><br><br>
    
        Pets-R-Us also sells a variety of pet-related products, supplies, services, and accessories. In addition to our complete selection of in-store products,
        we are excited to offer online services where you can create a profile, learn about our services, and sign up for them- All from the comfort of where ever you are! Hop on over
        to our grooming, training, or boarding pages to meet our talented professionals and explore our new services.<br><br>

        Some of the local pet rescues we work with have a variety of species for adoption. We offer the usual dogs and cats, but we also have birds, snakes, lizards, turtles, 
        ferrets, guinea pigs, hamsters, mice, and just about anything else people decide to cage and keep. With this, we have experts at our adoption centers who can advise on
        the care of the animals, and help you find the supplies you need within the store.
    </p>
    </div>

    <div class="four">
        <h2>Dog of the Week</h2>
        <p>The best of good boys is this handsome woofer. Max is loved by Mary and John Smith. He was adopted in 2006 and joined a family
            of 3 human brothers. Max is known for playing in the backyard with the children. Mary says he does a great job keeping up with them!
            The oldest son fell in the pool one day and Max transformed into a hero. He jumped in the pool and helped the young boy to the edge.
            Way to go Max!
        </p>
  <img src="../public/images/flouffy.jpg" alt="Dog holding stuffed elephant" width="400"><br>
  Photo by <a href="https://unsplash.com/@theflouffy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">FLOUFFY</a> 
  on <a href="https://unsplash.com/s/photos/pets?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div>

    <div class="five"><h2>Locations</h2>
    We serve north of Atlanta with our stores here:<br>
    123 First Street<br>
    Marietta, GA 30087<br><br>
    
    123 Second Street<br>
    Canton, GA 30114<br><br>

    123 Third Street<br>
    Douglasville, GA 30456<br><br>

    <h2>Hours of Operation:</h2>
    Our retail store hours are 9am-9pm.<br>
    Our grooming and training services are offered 9am-7pm.<br>
    Our boarding services are open 24/7.
    </div>

    <div class="six">
        <h2>Testimonials</h2>
    <p>Sally thinks we're great! So does her pet, Hamlet!
        Hamlet loves rolling in the mud and all things funk. Sally appreciates how clean groomer
        Ashley gets him each time. The nail trims happen just as frequently with this growing boy!<br><br>
        <img src="../public/images/matt-higham.jpg" alt="Dog covered in mud" width="200"><br>
        Photo by <a href="https://unsplash.com/@matthigham?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Matt Higham</a> on 
        <a href="https://unsplash.com/s/photos/dirty-dog?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
        <br><br>
        Finding a groomer to get Charlie's afro just right was a challenge for years until we met Charlie the groomer!
        He even recommended using a distilled water so dog Charlie's fur wouldn't get those awful brown stains from his eyes.
        Charlie loves Charlie!<br><br>
        <img src="../public/images/viktor-talashuk.jpg" alt="Dog covered in mud" width="200"><br>
        Photo by <a href="https://unsplash.com/@viktortalashuk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Viktor Talashuk</a> 
        on <a href="https://unsplash.com/s/photos/poodle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
    
    </p>
    </div>
  </div>
</body>
</html>
