<!--// Name: Kayla McDanel
// Date: 07/02/22
// Assignment: 7.2 Pets-R-Us Part 4
// Description: Website using Node, Express, EJS, MongoDB, and Mongoose.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>

<%- include('./partials/header.ejs')%>

<h1>Log In Now!</h1>
<div class="card">
    <div class="card-content">
        <div class="form">
            <form action="/login" method="post">
                <div class="form-field">
                    <label for="username">Username</label><br />
                    <input class="input" type="text" name="username" id="username" required>
                </div>

                <div class="form-field">
                    <label for="password">Password</label><br />
                    <input class="input" type="password" name="password" id="password" required>
                </div>

                <div class="form-field">
                    <input type="submit" value="Log In" class="btn btn-primary full-width">
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs')%>
</body>
</html>