<!--// Name: Kayla McDanel
// Date: 07/19/22
// Assignment: 9.2 Pets-R-Us
// Description: Website using Node, Express, EJS, MongoDB, and Mongoose.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>

<%- include('./partials/header.ejs')%>

<h1>My Profile</h1>
<div class="card">
    <div class="card-content">
         <ul>
            <li class="p-10"><b>Username:</b></li>
            <li class="p-10"><b>Email:</b> </li>
        </ul>
    
        <div id="profile"></div>
    </div>
</div>

<script>
    fetch('/profile')
        .then(res => res.json())
        .then(data => {
            let tableString = `<br /><h4 style="font-size: 32px; text-align: center; padding-bottom: 10px;">My Appointments</h4><table id="appointments" class="table"><tr><th>First name</th><th>Last name</th><th>Service</th></tr>`;

            for (let profile of data) {
                tableString += `<tr><td>${profile.firstName}</td><td>${profile.lastName}</td><td>${appointment.services}</td></tr>`;
            }

            tableString += `</table>`;

            document.getElementById('profile').innerHTML = tableString;
        });
</script>

<%- include('./partials/footer.ejs')%>
</body>
</html>