<!--// Name: Kayla McDanel
// Date: 07/02/22
// Assignment: 6.2 Pets-R-Us Part 3
// Description: Website using Node, Express, EJS, MongoDB, and Mongoose.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>

<%- include('./partials/header.ejs')%>

<div class="two">
<img src="../public/images/hannah-lim.jpg" alt="A line of dogs sitting in from of a pink wall" width="700"><br>
Photo by <a href="https://unsplash.com/@hannah15198?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Lim</a> 
on <a href="https://unsplash.com/s/photos/dogs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
</div>
<form action="/registration" method="post">
    <div class="container">
        <h1>Join Our Pack!</h1>
        <p>Fill out this form to create an account.</p>

        <label for="psw"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" id="username" required>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" id="password" required>


        <button type="submit" value="Register" class="registerBtn">Register</button>
    </div>
    
    <div class="card-content">
        <% if(users.length> 0) { %>
            <table class="center">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <h3>Users have not been added to the MongoDB database. Try adding some!</h3>
                <% } %>
    </div>
</form>

<p>Already a member? <a href="../views/login.html">Log In Now!</a></p>

<%- include('./partials/footer.ejs')%>
</body>
</html>