<!--// Name: Kayla McDanel
// Date: 07/02/22
// Assignment: 6.2 Pets-R-Us Part 3
// Description: Website using Node, Express, EJS, MongoDB, and Mongoose.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">

</head>

<body>
<%- include('./partials/header.ejs')%>
    

    <div class="two">
        <h1>Meet our trainer, Olivia!</h1>
            Olivia grew up with her family in Ohio breeding and training dogs for hunting and protection.
            This gave Olivia experience with training dogs of all ages of various breeds, which makes her the perfect
            asset to our Pets-R-Us team. With this knowledge, Olivia has helped thousands of dogs overcome fears and undesirable behaviors
            that kept them from being adopted. Now, she proudly offers her services to our customers.<br><br>
            Schedule today if your puppy needs to learn the ropes, but you're not sure how to show him, if your adolescent dog is acting out,
            or if your old dog needs to learn a few new tricks. We offer schedules and prices to suit your needs. If you are looking for specialized
            hunting or protection trainer, speak with Olivia directly.<br><br>
            The <b>General Obedience Program</b> teaches proper leash behavior, simple tricks like "sit" and "stay," and how to use (and enforce) the word NO!<br><br>
            The <b>Potty Training Program</b> teaches methods that work and explains WHY!<br><br>
            The <b>Bad Dogs Wanted</b> gets to the root of the pooch's problem and helps you work through the resolution for a win/win.<br><br>
            The <b>Obedience Refresher</b> and <b>Old Bad Dogs Wanted</b> programs are the same, but with the mature dog in mind. 

        </p>

     
    </div>
    <div class="three">
        <img src="../public/images/olivia-hutcherson.jpg" alt="A girl hugging a dog" width="800"><br>
        </div> 

    <div class="six">
        <h2>Puppy Training</h2>
            <br>$600 for 6 weeks
            <br>Choose between our General Obedience Program or the Potty Training Program.
        </p>
    </div>

    <div class="four">
        <h2>Adolescent Training</h2>
            <br>$750 for 6 weeks
            <br>Choose between our General Obedience Program or the Bad Dogs Wanted Program.

        </p>
    </div>

    <div class="five"><h2>Adult Training</h2>
        <br>$600 for 6 weeks
        <br>Choose between our General Obedience Program, the Obedience Refresher Program, or the Bad Old Dogs Wanted Program.

    </div>
    
    
</body>
<%- include('./partials/footer.ejs')%>
</html>